$dice-size: 104px;

.kocka {
    display: inline-block;
    padding: 8px;  
    background-color: rgb(254, 254, 254);  
    width: $dice-size; 
    height: $dice-size;
    border: 5px solid rgb(0, 0, 0); 
    border-radius: 10%;

    .dot {
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color:rgb(0, 0, 0);
    }

    >.face-1, >.face-2, >.face-3, >.face-4, >.face-5, >.face-6 {
        display: flex;
        height: $dice-size;
    }

    /* ---------------first face------------------ */
    >.face-1 {
        justify-content: center;
        align-items: center;
    }

      /* ---------------second face------------------ */
      >.face-2 {
        justify-content : space-between;

        .dot:nth-of-type(2) {
            align-self: flex-end;
        }
    }

    /* ---------------third face------------------ */
    >.face-3 {
        justify-content: space-between;

        align-items: center;

        .dot:nth-of-type(1) {
            align-self: flex-start;
        }
        .dot:nth-last-of-type(1) {
            align-self: flex-end;
        }
    }
    
    /* ---------------other faces------------------ */
    >.face-4, >.face-5, >.face-6 {
        justify-content: space-between;
        
        >.column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    >.face-5{
        >.column:nth-of-type(2) {
            justify-content: center;
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#kockak {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}

#buttons{
    display: flex;
    gap: 20px;
}
