.kocka {
  display: inline-block;
  padding: 8px;
  background-color: rgb(254, 254, 254);
  width: 104px;
  height: 104px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 10%;
  /* ---------------first face------------------ */
  /* ---------------second face------------------ */
  /* ---------------third face------------------ */
  /* ---------------other faces------------------ */
}
.kocka .dot {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}
.kocka > .face-1, .kocka > .face-2, .kocka > .face-3, .kocka > .face-4, .kocka > .face-5, .kocka > .face-6 {
  display: flex;
  height: 104px;
}
.kocka > .face-1 {
  justify-content: center;
  align-items: center;
}
.kocka > .face-2 {
  justify-content: space-between;
}
.kocka > .face-2 .dot:nth-of-type(2) {
  align-self: flex-end;
}
.kocka > .face-3 {
  justify-content: space-between;
  align-items: center;
}
.kocka > .face-3 .dot:nth-of-type(1) {
  align-self: flex-start;
}
.kocka > .face-3 .dot:nth-last-of-type(1) {
  align-self: flex-end;
}
.kocka > .face-4, .kocka > .face-5, .kocka > .face-6 {
  justify-content: space-between;
}
.kocka > .face-4 > .column, .kocka > .face-5 > .column, .kocka > .face-6 > .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.kocka > .face-5 > .column:nth-of-type(2) {
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#kockak {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
}

#buttons {
  display: flex;
  gap: 20px;
}

/*# sourceMappingURL=kocka.css.map */
